<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand title-bar" href="#">
        <img src="/img/logo.png" alt="" width="70" height="70" class="d-inline-block align-text-top">
        <h1 class="title-name" user_id="<%= data._id %>">Renewable Energy Marketplace</h1>

      </a>
    </div>
</nav>

<div class="row main-energy">
    <div class="col-sm-6">
      <div class="card shadow p-3 mb-5 bg-body rounded">
        <div class="card-body">
          <h2 class="card-title">Solar Energy Details</h2>
          <div class="mt-3 shadow p-3 mb-5 bg-body rounded solarmeter">
            <div class="">
                <h2 class="card-title">Energy</h2>
                <h3 class="mt-3"><%= data.solar_energy %> KW</h3>
            </div>
           
            <div class="">
                <h2 class="card-title">Irradiation</h2>
                <h3 class="mt-3"><%= data.irradiation %> w/m^2</h3>
            </div>
            
          </div>
         
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card shadow p-3 mb-5 bg-body rounded">
          <div class="card-body">
            <h2 class="card-title">Wind Energy Details</h2>
            <div class="mt-3 shadow p-3 mb-5 bg-body rounded solarmeter">
              <div class="">
                  <h2 class="card-title">Energy</h2>
                  <h3 class="mt-3"><%= data.wind_energy %> KW</h3>
              </div>
             
              <div class="">
                  <h2 class="card-title">Wind Speed</h2>
                  <h3 class="mt-3"><%= data.wind_speed %> m/s</h3>
              </div>
              
            </div>
           
          </div>
        </div>
    </div>
    <div class="peerdiv col-sm-6">
    </div>  
  </div>


  <div class="row main-energy">
    <div class="col-sm-6">
      <div class="card p-3 mb-5 bg-body rounded">
        <div class="card-body">
          <h2 class="card-title">Energy Transaction</h2>
          <div class="mt-3 shadow p-3 mb-5 bg-body rounded solarmeter">
            <div class="">
                <h2 class="card-title">Bought Energy</h2>
                <h3 class="mt-3"><%= data.bought_energy %> KW</h3>
            </div>
           
            <div class="">
                <h2 class="card-title">Sold Energy</h2>
                <h3 class="mt-3"><%= data.sold_energy %> KW</h3>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  <div class="col-sm-6">
    <div class="card p-3 mb-5 bg-body rounded">
      <div class="card-body">
        <h2 class="card-title"><%= peerdata.name %> Energies</h2>
        <div class="mt-3 shadow p-3 mb-5 bg-body rounded solarmeter">
          <div class="">
              <h2 class="card-title">Energy Available</h2>
              <h3 class="mt-3"><%= Math.max(peerdata.solar_energy + peerdata.wind_energy + peerdata.bought_energy - peerdata.sold_energy - peerdata.energy_consumption, 0) %>  KW</h3>
          </div>
         
          <div class="">
              <h2 class="card-title">Energy Needed</h2>
              <%
                const peernetEnergy = peerdata.solar_energy + peerdata.wind_energy + peerdata.bought_energy - peerdata.sold_energy - peerdata.energy_consumption;
                const peerdisplayValue = peernetEnergy < 0 ? -peernetEnergy : 0;
                %>
                <h3 class="mt-3"><%= peerdisplayValue %> KW</h3>
          </div>
        </div>
       
      </div>
    </div>
  </div>
  
  </div>
  <div class="card centercard shadow p-3 mb-5 bg-body rounded">
    <div class="card-body">
      <h2 class="card-title">Overall Energy Details</h2>
      <div class="mt-3 shadow p-3 mb-5 bg-body rounded solarmeter">
        <div class="">
            <h2 class="card-title">Total Energy</h2>
            <h3 class="mt-3"><%= data.solar_energy + data.wind_energy + data.bought_energy - data.sold_energy  %> KW</h3>
        </div>
       
        <div class="">
            <h2 class="card-title">Energy Consuption</h2>
            <h3 class="mt-3"><%= data.energy_consumption %> KW</h3>
        </div>
        <div class="">
            <h2 class="card-title">Energy Availables</h2>
            <h3 class="mt-3"><%= Math.max(data.solar_energy + data.wind_energy + data.bought_energy - data.sold_energy - data.energy_consumption, 0) %> KW</h3>

        </div>
        <div class="">
          <h2 class="card-title">Energy Needed</h2>
          <%
        const netEnergy = data.solar_energy + data.wind_energy + data.bought_energy - data.sold_energy - data.energy_consumption;
        const displayValue = netEnergy < 0 ? -netEnergy : 0;
        %>
    <h3 class="mt-3"><%= displayValue %> KW</h3>
      </div>
        <div class="">
            <h2 class="card-title">Battery SOC</h2>
            <h3 class="mt-3"><%= data.battery_soc %> %</h3>
        </div>
      </div>
     
    </div>
  </div>

  <div class="energy-btn mt-5">
    <button type="button" class="btn btn-outline-success btn-lg btngrp" data-bs-toggle="modal" data-bs-target="#requestEnergy">Request Energy</button>
    <button type="button" class="btn btn-outline-success btn-lg btngrp" data-bs-toggle="modal" data-bs-target="#sellEnergy">Sell Energy</button>
    <button type="button" class="btn btn-outline-warning btn-lg btngrp" id="transbtn" data-bs-toggle="modal" data-bs-target="#trans">Transactions</button>
    <button type="button" class="btn btn-outline-primary btn-lg btngrp" data-bs-toggle="modal" data-bs-target="#updateEnergy">Update Energy</button>
  </div>

  <div class="modal fade" id="requestEnergy" tabindex="-1" aria-labelledby="requestEnergyLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="requestEnergyLabel">Request Energy</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="amtofenergy" class="form-label">Enter the Amount of Energy Needed:</label>
              <div class="energy_input">
                <input type="number" class="form-control" id="amtofenergy" aria-describedby="amountOfEnergy">
                <h4 class="m-2">KW/M</h4>
              </div>
            </div>
            <div class="mb-3">
              <label for="time" class="form-label">Time:</label>
              <div class="energy_input">
                <input type="number" class="form-control" id="timerequired" aria-describedby="timerequired">
                <h4 class="m-2">m</h4>
              </div>
            </div>
            <button type="submit" id="request_energy" class="btn btn-outline-success request-btn d-grid gap-2 btn-lg">Request Energy</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="sellEnergy" tabindex="-1" aria-labelledby="sellEnergyLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sellEnergyLabel">Sell Energy</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="requestalert"></div>
          <form>
            <div class="mb-3">
              <label for="sellenergy" class="form-label">Enter the Amount of Energy To Sell:</label>
              <div class="energy_input">
                <input type="number" class="form-control" id="sellenergy" aria-describedby="amountOfEnergy">
                <h4 class="m-2">KW/M</h4>
              </div>
            </div>
            <div class="mb-3">
              <label for="time" class="form-label">Cost/KW</label>
              <div class="energy_input">
                <input type="number" class="form-control" id="sellcost" aria-describedby="timerequired">
                <h4 class="m-2">₹/KW</h4>
              </div>
            </div>
            <button type="submit" id="sell_energy"class="btn btn-outline-success request-btn d-grid gap-2 btn-lg">Sell Energy</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="trans" tabindex="-1" aria-labelledby="transLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="transLabel">Energy Transaction History </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="transaction_div">
           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="updateEnergy" tabindex="-1" aria-labelledby="updateEnergyLable" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="transLabel">Update Energy</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="amtofsolarenergy" class="form-label">Solar Energy:</label>
              <div class="energy_input">
                <input type="number" class="form-control" id="amtofsolarenergy" aria-describedby="amtofsolarenergy">
              </div>
            </div>
            <div class="mb-3">
              <label for="amtofwindenergy" class="form-label">Wind Energy:</label>
              <div class="energy_input">
                <input type="number" class="form-control" id="amtofwindenergy" aria-describedby="amtofwindenergy">
              </div>
            </div>
            <div class="mb-3">
              <label for="amtofboughtenergy" class="form-label">Bought Energy:</label>
              <div class="energy_input">
                <input type="number" class="form-control" id="amtofboughtenergy" aria-describedby="amtofboughtenergy">
              </div>
            </div>
            <div class="mb-3">
              <label for="amtofsoldenergy" class="form-label">Sold Energy:</label>
              <div class="energy_input">
                <input type="number" class="form-control" id="amtofsoldenergy" aria-describedby="amtofsoldenergy">
              </div>
            </div>
            <div class="mb-3">
              <label for="amtofconsuption" class="form-label">Energy Consuption:</label>
              <div class="energy_input">
                <input type="number" class="form-control" id="amtofconsuption" aria-describedby="amtofconsuption">
              </div>
            </div>
            <button type="submit" id="update_energy" class="btn btn-outline-success request-btn d-grid gap-2 btn-lg">Update Energies</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>